.popup{
	z-index: 31;
	background: rgb(180, 172, 62);;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 1px;
	min-height: 100vh;
	overflow: auto;
}

.popupFlex{
        min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
}

.popupBlock{
        padding: 10px 20px;
		display: flex;
		flex-direction: column;
}