.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  height: var(--navbar-height);
  background-color: var(--navbar-bakground);
  font-size: 20px;
}

a{
  color: white;
  text-decoration: none;
}