.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: var(--sidebar-width);
  min-height: calc(100vh - var(--navbar-height) - var(--conten-page-padding) * 2);
  box-shadow: 8px 9px 11px 1px rgba(34, 60, 80, 0.56);
  padding: 10px;
  border: 1px solid rgba(182, 182, 182, 0.82);
  border-radius: 4px;
  li{
    list-style: none;
    margin-bottom: 5px;
  }
}
.reset-filters {
  background-color: #212121;
  color: white;
  border-radius: 4px;
}